* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.round-slider .block {
    background-size: 100%;
    position: absolute;
    height: 100%;
    width: 50%;
    border-top-left-radius: 110px;
    border-bottom-left-radius: 110px;
    transform-origin: right center;
    z-index: 2;
}

.round-slider {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.round-slider:after {
    content: attr(data-after);
    padding-left: 50px;
    line-height: 220px;
    height: 100%;
    width: 100%;
    display: block;
    background: url(../img/termo.svg);
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 66px;
    color: #333333;
}

.round-slider .pointer {
    content: '';
    text-align: center;
    display: block;
    position: absolute;
    z-index: 4;
    bottom: 16px;
    left: 50%;
    margin-left: -6px;
    border: 6px solid transparent;
    border-top: 6px solid #333;
    transform: rotate(290deg);
    transform-origin: center -82px;
}

.round-slider .block-1 {
    background-color: #F5A623;
}

.round-slider .block-2 {
    background-color: #F5A623;
    transform: rotate(110deg);
    text-align: right;
}

.round-slider .block-3 {
    background-color: #333333;
    transform: rotate(290deg);
    opacity: 0;
}

.round-slider .block-4 {
    background-color: #333333;
    transform: rotate(180deg);
    z-index: 1;
}
